<% c++ #include "contents/Admins.h" %>
<% skin %>
<% view admins_reset_password uses tatosso::contents::admins::ResetPassword extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Admins / ResetPassword
<% end template %>



<% end view %>
<% end skin %>
