<% c++ #include "contents/Tokens.h" %>
<% skin %>
<% view tokens_check_token uses tatosso::contents::tokens::CheckToken extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Tokens / CheckToken
<% end template %>



<% end view %>
<% end skin %>
