<% c++ #include "contents/Tokens.h" %>
<% skin %>
<% view tokens_external_login uses tatosso::contents::tokens::ExternalLogin extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Tokens / ExternalLogin
<% end template %>



<% end view %>
<% end skin %>
