<% c++ #include "contents/Users.h" %>
<% skin %>
<% view users_login uses tatosso::contents::users::Login extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Users / Login
<% end template %>



<% end view %>
<% end skin %>
