<% c++ #include "contents/Users.h" %>
<% skin %>
<% view users_show_all uses tatosso::contents::users::ShowAll extends master %>
<% template title() %><% gt "TODO TITLE" %><% end template %>


<% template body() %> 
    Edit Me Users / ShowAll
<% end template %>



<% end view %>
<% end skin %>
